<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="visit-card">
      <span class="visit-card__type"></span>
      <header class="visit-card__header"></header>
      <p class="visit-card__paragraph"></p>
      <div class="visit-card__buttons">
        <button class="icon-item">
          <div class="icon-item__icon">
            <img src="../../assets/svg/Mail.svg" />
          </div>
          <span></span>
        </button>
        <button class="icon-item">
          <div class="icon-item__icon">
            <img src="../../assets/svg/Phone.svg" />
          </div>
          <span></span>
        </button>
        <button class="icon-item">
          <div class="icon-item__icon">
            <img src="../../assets/svg/Geo.svg" />
          </div>
          <span></span>
        </button>
      </div>
      <button class="button-bg w-full"><span>Get Direction</span></button>
    </article>
  </body>
</html>
