$background: #141414;
$grey-15: #262626;
$grey-08: #141414;
$grey-60: #999;
$absolute-white: #fff;
$absolute-black: #000;
$grey-10: #1a1a1a;
$purple: #a685fa;
$purple-60: #703bf7;
$white-90: #e4e4e7;

@mixin normal-text {
  color: $absolute-white;
  font-style: normal;
}

@mixin normal-text-700 {
  @include normal-text;
  font-weight: 700;
}

@mixin normal-text-600 {
  @include normal-text;
  font-weight: 600;
}

@mixin normal-text-500 {
  @include normal-text;
  font-weight: 500;
}
@mixin paragraph {
  align-self: stretch;
  color: $grey-60;
  font-size: 1rem;
}
@mixin flex-start {
  display: flex;
  align-items: flex-start;
}
@mixin border-625-col {
  border-radius: 0.625rem;
  border: 1px solid $grey-15;
  flex-direction: column;
}
.text-button {
  background: none;
  border: none;
  cursor: pointer;
}
.text-button span,
.button span {
  @include normal-text-500;
  font-size: 0.875rem;
  line-height: 150%;
}

.button {
  @include flex-start;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid $grey-15;
  background: $grey-08;
}
.title-with-paragraph {
  @include flex-start;
  padding-right: 15.625rem;
  flex-direction: column;
  gap: 0.625rem;
  align-self: stretch;
}
.title-with-paragraph__title {
  @include normal-text-600;
  align-self: stretch;
  font-size: 2.375rem;
  line-height: 150%;
}
.title-with-paragraph__paragraph {
  @include normal-text-500;
  @include paragraph;
  line-height: 150%;
}
