@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&family=Urbanist&display=swap");
@import "./main.scss";
:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: $background;
  font-family: Urbanist;
}
@media only screen and (max-width: 1300px) {
  * {
    font-size: 0.875rem;
  }
}
