<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.scss">
</head>
<body>
    <div class="standard-block__card">
        <div class="standard-block__card-container">
          <header
            class="standard-block__card-title-with-paragraph-title"
          ></header>
          <button class="standard-block__card-button button">
            <span>Learn More</span>
          </button>
        </div>
        <p class="standard-block__card-paragraph"></p>
      </div>
    </div>
</body>
</html>