<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="step-card">
      <header class="step-card__step">
        <span>Step 01</span>
      </header>
      <main class="step-card__main">
        <header class="step-card__header">Discover a World of Possibilities</header>
        <p class="step-card__paragraph">Your journey begins with exploring our carefully curated property listings. Use our intuitive search tools to filter properties based on your preferences, including location, type, size, and budget.</p>
      </main>
    </article>
  </body>
</html>
