<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="header-card">
      <main class="content">
        <div class="title-with-paragraph_flex1">
          <header class="title-with-paragraph__title">
            Elevate Your Real Estate Experience
          </header>
          <p class="title-with-paragraph__paragraph">
            Welcome to Estatein, where your real estate aspirations meet expert
            guidance. Explore our comprehensive range of services, each designed
            to cater to your unique needs and dreams.
          </p>
        </div>
      </main>
    </article>
  </body>
</html>
