<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="block-tabs">
      <div class="title-with-paragraph">
        <div class="stars">
          <img src="../../assets/svg/Stars.svg" />
        </div>
        <header class="title-with-paragraph__title">
          Discover Our Office Locations
        </header>
        <p class="title-with-paragraph__paragraph">
          Estatein is here to serve you across multiple locations. Whether
          you're looking to meet our team, discuss real estate opportunities, or
          simply drop by for a chat, we have offices conveniently located to
          serve your needs. Explore the categories below to find the Estatein
          office nearest to you
        </p>
      </div>
      <main class="block-tabs__container">
        <div class="block-tabs__tabs">
          <button class="button tab"><span>All</span></button>
          <button class="button tab"><span>Regional</span></button>
          <button class="button tab"><span>International  </span></button>
        </div>
        <div class="block-tabs__cards"></div>
      </main>
    </article>
  </body>
</html>
