<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="hide popup">
      <span class="popup__text">
        ✨Discover Your Dream Property with Estatein
      </span>
      <a class="popup__text-link">Learn More</a>
      <button class="popup__button" onclick="hidePopup()">
        <img src="../../assets/svg/X.svg">
      </button>
    </div>
    <div style="margin-top: 200px; color: #fff;">dsadasads</div>
    <script src="index.js"></script>
  </body>
</html>
