<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <article class="standard-block-left">
      <div class="standard-block-left__container-left">
        <div class="standard-block-left__title-with-paragraph">
          <div class="stars">
            <img src="../../assets/svg/Stars.svg" />
          </div>
          <header class="standard-block-left__title-with-paragraph__title">
            Smart Investments, Informed Decisions
          </header>
          <p class="standard-block-left__title-with-paragraph__paragraph">
            Building a real estate portfolio requires a strategic approach.
            Estatein's Investment Advisory Service empowers you to make smart
            investments and informed decisions.
          </p>
        </div>
        <div class="standard-block-left__card">
          <div class="standard-block-left__card-container">
            <header
              class="standard-block-left__card-title-with-paragraph-title"
            >
              Elevate Your Real Estate Experience
            </header>
          </div>
          <p class="standard-block-left__card-paragraph">
            Welcome to Estatein, where your real estate aspirations meet expert
            guidance. Explore our comprehensive range of services, each designed
            to cater to your unique needs and dreams.
          </p>
          <button class="standard-block-left__card-button button">
            <span>Learn More</span>
          </button>
        </div>
      </div>
      <div class="standard-block-left__container-right">
        <div class="standard-block-left__container-row">
          <div class="standard-block-left__card-icon-left">
            <div class="card-icon-left__header">
              <div class="card-icon-left__outer-icon-container">
                <div class="card-icon-left__outer-icon-container_mask">
                  <div class="card-icon-left__inner-icon-container">
                    <div class="card-icon-left__inner-icon-container_mask">
                      <img src="../../assets/svg/Icon.svg">
                    </div>
                  </div>
                </div>
              </div>
              <span class="card-icon-left__text">Valuation Mastery</span>
            </div>
            <p class="card-icon-left__paragraph">
              Discover the true worth of your property with our expert valuation
              services.
            </p>
          </div>
          <div class="standard-block-left__card-icon-left">
            <div class="card-icon-left__header">
              <div class="card-icon-left__outer-icon-container">
                <div class="card-icon-left__outer-icon-container_mask">
                  <div class="card-icon-left__inner-icon-container">
                    <div class="card-icon-left__inner-icon-container_mask">
                      <img src="../../assets/svg/Icon.svg">
                    </div>
                  </div>
                </div>
              </div>
              <span class="card-icon-left__text">Valuation Mastery</span>
            </div>
            <p class="card-icon-left__paragraph">
              Discover the true worth of your property with our expert valuation
              services.
            </p>
          </div>
        </div>
        <div class="standard-block-left__container-row">
          <div class="standard-block-left__card-icon-left">
            <div class="card-icon-left__header">
              <div class="card-icon-left__outer-icon-container">
                <div class="card-icon-left__outer-icon-container_mask">
                  <div class="card-icon-left__inner-icon-container">
                    <div class="card-icon-left__inner-icon-container_mask">
                      <img src="../../assets/svg/Icon.svg">
                    </div>
                  </div>
                </div>
              </div>
              <span class="card-icon-left__text">Valuation Mastery</span>
            </div>
            <p class="card-icon-left__paragraph">
              Discover the true worth of your property with our expert valuation
              services.
            </p>
          </div>
          <div class="standard-block-left__card-icon-left">
            <div class="card-icon-left__header">
              <div class="card-icon-left__outer-icon-container">
                <div class="card-icon-left__outer-icon-container_mask">
                  <div class="card-icon-left__inner-icon-container">
                    <div class="card-icon-left__inner-icon-container_mask">
                      <img src="../../assets/svg/Icon.svg">
                    </div>
                  </div>
                </div>
              </div>
              <span class="card-icon-left__text">Valuation Mastery</span>
            </div>
            <p class="card-icon-left__paragraph">
              Discover the true worth of your property with our expert valuation
              services.
            </p>
          </div>
        </div>
      </div>
    </article>
  </body>
</html>
