<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="employee-card">
      <div class="employee-card__image">
        <img src="../../assets/img/MaxMitchel.png">
      </div>
      <button class="employee-card__button">
        <img src="../../assets/svg/Twitter.svg">
      </button>

      <header class="employee-card__name">Max Mitchell</header>
      <p class="employee-card__role">Founder</p>

      <div class="employee-card__input-container">
        <input type="text" />
        <img />
      </div>
    </article>
  </body>
</html>
