<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="contact-form">
      <div class="title-with-paragraph">
        <div class="stars">
          <img src="../../assets/svg/Stars.svg" />
        </div>
        <header class="title-with-paragraph__title">Let's Connect</header>
        <p class="title-with-paragraph__paragraph">
          We're excited to connect with you and learn more about your real
          estate goals. Use the form below to get in touch with Estatein.
          Whether you're a prospective client, partner, or simply curious about
          our services, we're here to answer your questions and provide the
          assistance you need.
        </p>
      </div>
      <form class="contact-form__form">
        <div class="contact-form__row">
          <div class="input-label">
            <label for="first-name">First Name</label>
            <input
              class="input"
              placeholder="Enter First Name"
              name="first-name"
              type="text"
            />
          </div>

          <div class="input-label">
            <label for="last-name">Last Name</label>
            <input
              class="input"
              placeholder="Enter Last Name"
              name="last-name"
              type="text"
            />
          </div>

          <div class="input-label">
            <label for="email">Email</label>
            <input
              class="input"
              placeholder="Enter your Email"
              name="email"
              type="email"
            />
          </div>
        </div>
        <div class="contact-form__row">
          <div class="input-label">
            <label for="phone">Phone</label>
            <input
              class="input"
              placeholder="Enter Phone Number"
              name="phone"
              type="tel"
            />
          </div>

          <div class="input-label">
            <label for="injury">Injury Type</label>
            <select class="input" name="injury">
              <option value="" disabled selected>Enter Injury Type</option>
            </select>
          </div>

          <div class="input-label">
            <label for="about">How Did You Hear About Us?</label>
            <select class="input" name="about">
              <option value="" disabled selected>Select</option>
            </select>
          </div>
        </div>
        <div class="input-label">
          <label for="message">Message</label>
          <input
            class="input message"
            placeholder="Enter your Message here"
            name="message"
            type="text"
          />
        </div>
        <div class="contact-form__row">
          <div class="input-label checkbox">
          <label for="agree"
            >I agree with Terms of Use and Privacy Policy</label
          >
          <input class="input" name="agree" type="checkbox" />
          </div>

          <button class="button-bg"><span>Send Your Message</span></button>
        </div>
      </form>
    </article>
  </body>
</html>
