@import "../../assets/scss/main.scss";

.standard-block {
  @include flex-start;
  width: 100%;
  flex-direction: column;
  gap: 3.75rem;
  padding: 5rem;
  box-sizing: border-box;
}
.standard-block__rows {
  @include flex-start;
  flex-direction: column;
  gap: 1.25rem;
  align-self: stretch;
}
.standard-block__row {
  @include flex-start;
  gap: 1.25rem;
  align-self: stretch;
}
.stars {
  display: flex;
  width: 3.5rem;
  padding-right: 0rem;
  justify-content: center;
  align-items: center;
}

.card-icon-left {
  @include flex-start;
  @include border-625-col;
  padding: 2.5rem;
  gap: 1.25rem;
  flex: 1 0 0;
}

.card-icon-left__text {
  @include normal-text-600;
  align-self: stretch;
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
}
.card-icon-left__paragraph {
  @include normal-text-500;
  @include paragraph;
  line-height: 150%; 
}
.card-icon-left__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.card-icon-left__text {
  @include normal-text-600;
  height: fit-content;
  align-self: center;
  font-size: 1.25rem;
}
.card-icon-left_row-card {
  @include flex-start;
  @include border-625-col;
  width: 25rem;
  padding: 2.5rem;
  gap: 1.25rem;
}
