<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="standard-block">
      <div class="title-with-paragraph">
        <div class="stars">
          <img src="../../assets/svg/Stars.svg" />
        </div>
        <header class="title-with-paragraph__title"></header>
        <p class="title-with-paragraph__paragraph"></p>
      </div>
      <div class="standard-block__rows">
        <section class="standard-block__row">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list"></ul>
            </div>
          </div>
        </section>
        <section class="standard-block__row"></section>
        <section class="standard-block__row-mobile"></section>
      </div>
    </article>
  </body>
</html>
