<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss">
  </head>
  <body>
    <div class="header">
      <div class="header__left">
        <div class="logo-container">
          <img src="../../assets/svg/Logo.svg">
        </div>
      </div>
      <div class="header__center">
        <button class="text-button"><span>Home</span></button>
        <button class="text-button"><span>About us</span></button>
        <button class="text-button"><span>Properties</span></button>
        <button class="button"><span>Services</span></button>
      </div>
      <div class="header__right">
        <button class="button"><span>Contact Us</span></button>
      </div>
    </div>
  </body>
</html>
