@import "../../assets/scss/main.scss";

.header {
  display: flex;
  padding: 0.875rem 5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: $background;
}
.logo-container {
  display: flex;
  width: 7rem;
  padding-right: 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
}
.header__center {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.more {
  display: none;
  border: none;
  background: none;
  width: 28px;
  height: 28px;
}

@media only screen and (max-width: 700px) {
  .header {
    padding: 1rem;
  }
  .header__center,
  .header__right > .button {
    display: none;
  }
  .more {
    display: block;
  }
  .header__left,
  .logo-container {
    width: fit-content;
    height: 100%;
  }
}
