<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="gallery">
      <div class="gallery__grid">
        <div class="gallery_item">
          <img src="../../assets/img/1.png" />
        </div>
        <div class="gallery_item">
          <img src="../../assets/img/2.png" />
        </div>
        <div class="gallery_item">
          <img src="../../assets/img/3.png" />
        </div>
        <div class="gallery__grid">
          <div class="gallery_item">
            <img src="../../assets/img/4.png" />
          </div>
          <div class="gallery_item">
            <img src="../../assets/img/5.png" />
          </div>
        </div>
      </div>
      <div class="gallery__grid_mobile">
        <div class="title-with-paragraph-pd">
          <div class="stars">
            <img src="../../assets/svg/Stars.svg" />
          </div>
          <header class="title-with-paragraph__title">
            Explore Estatein's World
          </header>
          <p class="title-with-paragraph__paragraph">
            Step inside the world of Estatein, where professionalism meets
            warmth, and expertise meets passion. Our gallery offers a glimpse
            into our team and workspaces, inviting you to get to know us better.
          </p>
        </div>
        <div class="gallery_item">
          <img src="../../assets/img/1.png" />
        </div>
      </div>
    </article>
  </body>
</html>
