<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <article class="standard-block-left">
      <aside class="standard-block-left__container-left">
        <div class="standard-block-left__title-with-paragraph">
          <div class="stars">
            <img src="../../assets/svg/Stars.svg" />
          </div>
          <header
            class="standard-block-left__title-with-paragraph__title"
          ></header>
          <p class="standard-block-left__title-with-paragraph__paragraph"></p>
        </div>
        <div class="standard-block-left__card">
          <div class="standard-block-left__card-container">
            <header
              class="standard-block-left__card-title-with-paragraph-title"
            ></header>
          </div>
          <p class="standard-block-left__card-paragraph"></p>
          <button class="standard-block-left__card-button button">
            <span>Learn More</span>
          </button>
        </div>
      </aside>
      <div class="standard-block-left__container-right">
        <div class="standard-block-left__container-row"></div>
        <div class="standard-block-left__container-row"></div>
      </div>
    </article>
  </body>
</html>
