<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-top">
        <div class="email-with-logo">
          <img src="../../assets/svg/Logo.svg" />
          <div class="input-field">
            <div class="input-field__icon-left">
              <img src="../../assets/svg/Email.svg">
            </div>
            <input class="input-field__input" placeholder="Enter Your Email" />
            <div class="input-field__icon-right">
              <img src="../../assets/svg/Send.svg">
            </div>
          </div>
        </div>
        <div class="link-table">
          <div class="link-table__column">
            <header>Home</header>
            <nav class="link-table__column-list">
              <a href="">Hero Section</a>
              <a href="">Features</a>
              <a href="">Properties</a>
              <a href="">Testimonials</a>
              <a href="">FAQ’s</a>
            </nav>
          </div>
          <div class="link-table__column">
            <header>About Us</header>
            <nav class="link-table__column-list">
              <a href="">Our Story</a>
              <a href="">Our Works</a>
              <a href="">How It Works</a>
              <a href="">Our Team</a>
              <a href="">Our Clients</a>
            </nav>
          </div>
          <div class="link-table__column">
            <header>Properties</header>
            <nav class="link-table__column-list">
              <a href="">Portfolio</a>
              <a href="">Categories</a>
            </nav>
          </div>
          <div class="link-table__column">
            <header>Services</header>
            <nav class="link-table__column-list">
              <a href="">Valuation Mastery</a>
              <a href="">Strategic Marketing</a>
              <a href="">Negotiation Wizardry</a>
              <a href="">Closing Success</a>
              <a href="">Property Management</a>
            </n>
          </div>
          <div class="link-table__column">
            <header>Contact Us</header>
            <nav class="link-table__column-list">
              <a href="">Contact Form</a>
              <a href="">Our Offices</a>
            </n>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <nav class="footer-bottom__links">
          <a>@2023 Estatein. All Rights Reserved.</a>
          <a>Terms & Conditions</a>
        </nav>
        <nav class="footer-bottom__buttons-social">
          <button class="footer-bottom__button-social">
            <img src="../../assets/svg/Facebook.svg">
          </button>
          <button class="footer-bottom__button-social">
            <img src="../../assets/svg/Linkedin.svg">
          </button>
          <button class="footer-bottom__button-social">
            <img src="../../assets/svg/Twitter.svg">
          </button>
          <button class="footer-bottom__button-social">
            <img src="../../assets/svg/YouTube.svg">
          </button>
        </nav>
      </div>
    </footer>
  </body>
</html>
