<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <article class="container">
      <div class="title-with-paragraph">
        <header class="title-with-paragraph__title">
          Elevate Your Real Estate Experience
        </header>
        <p class="title-with-paragraph__paragraph">
          Welcome to Estatein, where your real estate aspirations meet expert
          guidance. Explore our comprehensive range of services, each designed
          to cater to your unique needs and dreams.
        </p>
      </div>
    </article>
  </body>
</html>
