@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&family=Urbanist&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--Grey-08, #141414);
}
.content {
  display: flex;
  padding: 3.75rem 5rem;
  align-items: center;
  gap: 9.375rem;
  align-self: stretch;
}
.container {
  background-image: linear-gradient(
      96deg,
      #262626 -26.82%,
      rgba(38, 38, 38, 0) 40.46%
    ),
    url("assets/DiagonalRectangles.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.background-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/DiagonalRectangles.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -100;
  transform: scaleX(-1);
}

.title-with-paragraph__title {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3.5625rem */
}
.title-with-paragraph__paragraph {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}
.button span {
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
}
.button {
  cursor: pointer;
  display: flex;
  padding: 0.75rem 1.25rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
}

.button {
  display: flex;
  padding: 0.875rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--Purple-60, #703bf7);
}
.title-with-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
}
