@import "../../assets/scss/main.scss";

.card-icon-left {
  @include flex-start;
  @include border-625-col;
  padding: 2.5rem;
  gap: 1.25rem;
  flex: 1 0 0;
}
.card-icon-left__outer-icon-container {
  width: fit-content;
  display: flex;
  padding: 1px;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    45deg,
    $purple 0%,
    transparent 40%,
    transparent 60%,
    $purple 100%
  );
  -webkit-mask: /*4*/ linear-gradient($absolute-white 0 0) padding-box,
    linear-gradient(transparent 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.card-icon-left__inner-icon-container {
  display: flex;
  padding: 1px;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    135deg,
    $purple 0%,
    transparent 30%,
    transparent 70%,
    $purple 100%
  );
  -webkit-mask: /*4*/ linear-gradient($absolute-white 0 0) padding-box,
    linear-gradient(transparent 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.card-icon-left__outer-icon-container_mask {
  background-color: $background;
  padding: 0.5rem;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
}
.card-icon-left__inner-icon-container_mask {
  background-color: $background;
  padding: 0.625rem;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
}

.card-icon-left__text {
  @include normal-text-600;
  align-self: stretch;
  text-align: center;
  font-size: 1rem;
  line-height: 150%; /* 1.5rem */
}
.card-icon-left__paragraph {
  @include normal-text-500;
  @include paragraph;
  line-height: 150%; /* 1.5rem */
}
.card-icon-left__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.card-icon-left__text {
  @include normal-text-600;
  height: fit-content;
  align-self: center;
  font-size: 1.25rem;
}
.card-icon-left_row-card {
  @include flex-start;
  @include border-625-col;
  width: 25rem;
  padding: 2.5rem;
  gap: 1.25rem;
}
