<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.scss" />
  </head>
  <body>
    <div class="card-icon-left">
      <div class="card-icon-left__header">
        <div class="card-icon-center__icon">
          <img />
        </div>
        <span class="card-icon-left__text">Valuation Mastery</span>
      </div>
      <p class="card-icon-left__paragraph">
        Discover the true worth of your property with our expert valuation
        services.
      </p>
    </div>
  </body>
</html>
