<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="card-icon-left">
      <div class="card-icon-left__header">
        <div class="card-icon-left__outer-icon-container">
          <div class="card-icon-left__outer-icon-container_mask">
            <div class="card-icon-left__inner-icon-container">
              <div class="card-icon-left__inner-icon-container_mask">
                <img src="../../assets/svg/Icon.svg">
              </div>
            </div>
          </div>
        </div>
        <span class="card-icon-left__text">Valuation Mastery</span>
      </div>
      <p class="card-icon-left__paragraph">
        Discover the true worth of your property with our expert valuation
        services.
      </p>
    </div>
  </body>
</html>
