@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&family=Urbanist&display=swap");

$Background: #141414;
$Grey-15: #262626;
$Grey-08: #141414;
$Grey-60: #999;
$Absolute-White: #fff;
$Absolute-Black: #000;
$Grey-10: #1a1a1a;
$Purple: #a685fa;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $Background;
}
.card-icon-left {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 1 0 0;
  border-radius: 0.625rem;
  border: 1px solid $Grey-15;
}
.card-icon-left__outer-icon-container {
  width: fit-content;
  display: flex;
  padding: 1px;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    45deg,
    $Purple 0%,
    transparent 40%,
    transparent 60%,
    $Purple 100%
  );
  -webkit-mask: /*4*/ linear-gradient($Absolute-White 0 0) padding-box,
    linear-gradient(transparent 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.card-icon-left__inner-icon-container {
  display: flex;
  padding: 1px;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    135deg,
    $Purple 0%,
    transparent 30%,
    transparent 70%,
    $Purple 100%
  );
  -webkit-mask: /*4*/ linear-gradient($Absolute-White 0 0) padding-box,
    linear-gradient(transparent 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.card-icon-left__outer-icon-container_mask {
  background-color: $Background;
  padding: 0.5rem;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
}
.card-icon-left__inner-icon-container_mask {
  background-color: $Background;
  padding: 0.625rem;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
}

.card-icon-left__text {
  align-self: stretch;
  color: $Absolute-White;
  text-align: center;
  font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}
.card-icon-left__paragraph {
  align-self: stretch;
  color: $Grey-60;
  font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}
.card-icon-left__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.card-icon-left__text {
  color: $Absolute-White;
  font-family: Urbanist;
  height: fit-content;
  align-self: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}
